<div class="row">
	<div class="col-xs-12">
	  <div class="box box-info">
	    <div class="box-header">
	      <h3 class="box-title"></h3>
	      <div class="box-tools pull-right">
		    <button type="submit" class="btn btn-default btn-sm" ng-click="toggleFilter()"><i class="fa fa-filter"></i> Filter</button>
		    <button type="submit" class="btn btn-success btn-sm" ng-click="add()"><i class="fa fa-plus"></i> Add</button>
		  </div>
	    </div><!-- /.box-header -->
	    <div class="box-body table-responsive no-padding">
	      <table class="table table-hover">
	        <tr>
	          <th class="col-xs-3">Title</th>
	          <th class="col-xs-3">Project</th>
	          <th class="col-xs-1">Priority</th>
	          <th class="col-xs-1">Status</th>
	          <th class="col-xs-2">Date</th>
	          <th class="col-xs-2"></th>
	        </tr>
	        <tr ng-show="showFilter">
				<td>
					<input type="text" class="form-control" ng-model="todoFilter.title"/>
				</td>
				<td>
					<select class="form-control" ng-model="todoFilter.project"
				ng-options="pro.code as pro.description for pro in projectList">
						<option></option>
					</select>
				</td>
				<td>
					<select class="form-control" ng-model="todoFilter.priority"
				ng-options="pr.code as pr.description for pr in priorityList">
						<option></option>
					</select>
				</td>
				<td>
					<select class="form-control" ng-model="todoFilter.status"
				ng-options="st.code as st.description for st in statusList">
						<option></option>
					</select>
				</td>
				<td>
					<div class="input-group">
						<div class="input-group-addon">
						<i class="fa fa-calendar"></i>
					</div>
					<input type="text" class="form-control pull-right" id="reservation">
					</div>
				</td>
				<td></td>
	        </tr>
	        <tr ng-repeat="todo in todoList | filter:todoFilter">
	          <td>{{todo.title}}</td>
	          <td>{{todo.project | projectfilter}}</td>
	          <td>{{todo.priority | priorityFilter}}</td>
	          <td>{{todo.status | statusFilter}}</span></td>
	          <td>{{todo.date | date: 'dd-MM-yyyy'}}</td>
	          <td>
	          	<div class="pull-right">
              		<button type="submit" class="btn btn-default btn-xs" ng-click="edit(todo)"><i class="fa fa-pencil"></i></button>
              		<button type="submit" class="btn btn-danger btn-xs"><i class="fa fa-trash"></i></button>              		               		
              	</div>
	          </td>
	        </tr>
	      </table>
	    </div>
	  </div><!-- /.box -->
	</div>
</div>


<script type="text/ng-template" id="editTodo.html">
	<div class="modal-dialog">
		<div class="modal-content">
		    <div class="modal-header">
		    	<button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="cancel()"><span aria-hidden="true">&times;</span></button>
		        <h4 class="modal-title">{{modalTitle}}</h4>
		    </div>
		    <div class="modal-body">
				<div class="form-group">
					<label for="title">Title</label>
					<input type="text" class="form-control" ng-model="todo.title">
				</div>
				<div class="form-group">
					<label for="detail">Detail</label>
					<textarea class="form-control" ng-model="todo.detail" rows="3"></textarea>
				</div>
				<div class="form-group">
					<label for="status">Status</label>
					<!--dateformat.code as dateformat.name for dateformat in dateformats-->
					<select class="form-control" ng-model="todo.status"
      ng-options="st.code as st.description for st in statusList"></select>
				</div>
				<div class="form-group">
					<label for="priority">Priority</label>
					<!--dateformat.code as dateformat.name for dateformat in dateformats-->
					<select class="form-control" ng-model="todo.priority"
      ng-options="pr.code as pr.description for pr in priorityList"></select>
				</div>
				<div class="form-group">
					<label for="project">Project</label>
					<select class="form-control" ng-model="todo.project"
      ng-options="pro.code as pro.description for pro in projectList"></select>
				</div>
				<div class="form-group">
					<label for="url">URL</label>
					<input type="url" class="form-control" ng-model="todo.url">
				</div>
		    </div>
		    <div class="modal-footer">
		    	<button class="btn btn-default" type="button" ng-click="cancel()">Cancel</button>
		        <button class="btn btn-primary" type="button" ng-click="ok()">Save</button>
		    </div>
		</div>
	</div>
</script>