<div class="ui-notification">
	<div class="alert alert-info alert-dismissable" ng-if="t === 'i'">
		<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
		<h4><i class="icon fa fa-info"></i> Info</h4>
		{{message}}
	</div>
	<div class="alert alert-warning alert-dismissable" ng-if="t === 'w'">
		<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
		<h4><i class="icon fa fa-warning"></i> Info</h4>
		{{message}}
	</div>
</div>

